body {
    font-family:Helvetica, sans-serif;
}

/*_________________*/
.main-loading{
	margin:150px;
	text-align:center;
}
.login{
	margin:auto;
	margin-top:50px;
}
.login .title{
	font-weight: bold;
	margin-bottom: 30px;
}

.login .version{
	margin-top: 20px;
	font-size: 10px;
	color:#CCC;
	text-align: center;
}
.login .error,.login .validating{
	margin-top: 10px;
	text-align: center;
}

/*
.footer{
	text-align: right;
	margin-bottom: 20px;
	color:#999;
}
.footer hr{
	margin-bottom: 5px;
}
*/

.reports_map { 
	height: 650px;
}

div#processing{
	text-align: right;
	margin-top: 5px;
}
div#contract-map{
	border:1px solid #CCC;
	width: 260px;
	height: 250px;
	display: block;
}
div#routes{
	margin-top: 20px;
}

.routes_list{
	height: 325px;
	overflow: auto;
}
.route_map{
	border:1px solid #CCC;
	height: 300px;
	display: block;
}

.contracts_list{
	height: 240px;
	overflow: auto;
}
.contracts_list li{
	cursor: pointer;
}

.services-list{
	border:1px solid #CCC;
	border-radius: 4px;
	width: 260px;
	height: 130px;
	display: block;
	overflow: auto;
	padding: 5px;
	margin-bottom: 10px;
}
.services-list .checkbox{
	margin-top: 5px;
	margin-bottom: 5px;
}

.contracts_services_header{
	margin-bottom: 0px;
}
.contracts_services_table{
	overflow: auto;
	height: 255px;
	width: 100%;
	display: block;
	border-bottom: 1px solid #CCC;
}

.contracts_services_table table{
	margin-top: 0px;
}

.contracts_services_table input[type=number]::-webkit-inner-spin-button,
.contracts_services_table input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*_________________*/
/*
.navbar{
	margin-bottom: 5px;
}
.navbar-brand{
	padding: 5px;
}
.navbar-brand-text{
	margin-left: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.navbar-section{
	margin-top: 10px;
	margin-bottom: 20px;
}
*/

.table{
	margin-top: 10px;
	table-layout:fixed;
}

.table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


h4.text-success{
	margin-left: 15px;
}

.form-tall .form-group{
	margin-bottom: 5px;
}

.datepicker{z-index:1151 !important;}

/*
.datepicker .input-mini {
	width: 65px;
}

#map { 
	height: 650px;
}
.gm-style img { max-width: none; }
.gm-style label { width: auto; display: inline; }
*/

/*----------------*/
.vcenter {
    display:table-cell;
    vertical-align:middle;
    float:none;
}
.less-padding{
	padding-left: 5px;
	padding-right: 5px;
}
.content{
	margin-top: 10px;
	margin-bottom: 10px;
	min-height: 400px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}


.form-tiny .form-group{
	margin-bottom: 5px;
}
.form-tiny .form-control{
	height: 25px;
	padding: 3px 6px;
}
.form-tiny .btn-group{
	height: 25px;
}
.form-tiny .btn{
	height: 25px;
	padding: 2px 12px;
}
.form-tiny fieldset{
	padding: 5px;
	border: 1px solid silver;
	border-radius: 5px;
}
.form-tiny legend{
	width:inherit; 
    font-size: 14px;
    color:silver;
    border-bottom:none;
    margin-bottom: 0px;
    margin-left:5px;
}
.form-tiny hr{
	margin-top: 8px;
	margin-bottom: 8px;
}


.siom-lista{
	display:block;
	height: 420px;
	padding:5px;
	overflow-y: auto; 
}
.siom-lista .btn{
	margin-top: 15px;
}
.siom-lista .dropdown-toggle{
	margin-left: 5px;
}
.siom-lista .dropdown-menu{
	margin-left: -60px;	
}

.siom-lista h4{
	margin-top: 5px;
	margin-bottom: 5px;
}
.siom-lista hr{
	margin-top: 10px;
	margin-bottom: 10px;
}


.siom-paginacion{
	padding-top:5px;
	padding-bottom:5px;
}
.siom-paginacion .pagination{
	margin:0px;
}
.siom-paginacion .pagination-info{
	padding-top: 8px;
}

.siom-fieldset{
    margin-top: 10px;

    border: 1px solid #EFEFEF;
    padding: 5px;
    border-radius: 5px;
}
.siom-fieldset legend{
    font-size: 15px;	
    border: none;
    width: auto;
    margin-left: 10px;
}
.siom-fieldset .siom-label{
    font-weight: lighter;

    font-size: 10px;
    /* padding-right: 0px; */
    text-align: right;
    padding-top: 3px;
}
.siom-fieldset .siom-value{
    padding-left: 5px;
	
}

.bootstrap-fileinput-preview-list {
  margin-top: 5px;
  border-radius:none;
  border:none;
}
.bootstrap-fileinput-preview-list .file-preview-frame{
	display: block;
	margin: 0px;
	height: auto;
	box-shadow: none;
	float: none;

	padding: 10px 15px;
	margin-bottom: -1px;
	background-color: #fff;
	border: 1px solid #ddd;
}


.siom-presupuesto-list-lpu {
    margin-top:5px;
    height:362px;
    overflow-y:auto;  
    background-color: #EFEFEF;
}

.siom-presupuesto-list-lpu .nombre{
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 0px;
}
.siom-presupuesto-list-lpu .comentario{
	font-size: 10px;
	color:#999;
	display: block;
	margin-top: 2px;
}
.siom-presupuesto-list-lpu .unidad{
	font-size: 10px;
	color:#666;
	display: block;
	margin-top: -5px;
}
.siom-presupuesto-list-lpu .precio{
	margin-bottom:3px;
}

.siom-presupuesto-list-lpu li{
	padding: 3px 8px;
}
.siom-presupuesto-list-lpu button hr{
	margin-top: 2px;
	margin-bottom: 2px;
	border-top: 1px solid #999;
}


.siom-presupuesto-list{
	height:400px;
    overflow-y:auto;  
    margin-bottom: 10px;
	background-color: #EFEFEF;
}

.siom-presupuesto-list .nombre{
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 0px;
}
.siom-presupuesto-list .comentario{
	font-size: 10px;
	color:#999;
}

.siom-presupuesto-list li{
	padding: 3px 8px;
}

.siom-presupuesto-list .eliminar{
	cursor:pointer;
	float: right;
	margin-right: 10px;
}

.siom-presupuesto-total{
	font-size: 16px;
	font-weight: bold;
}

.siom-asignacion-list{
	height: 300px;
    overflow-y:auto;  
    margin-top: 10px;
	background-color: #FEFEFE;
	border: 1px solid #CCC;
	border-radius: 5px;
}
